* {

    /*Resetando as configurações*/
    margin: 0;
    padding: 0;
    font-family: "Rubik",sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: 22px;
}


h2 {
    padding-top: 3%;
    text-align: center;
    color: #202454;
    text-shadow: #00a4a6 0.1em 0.1em 0.2em;
}

/*Reset basico das midias*/

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

/*Reset p Formulários em Todos Dispositivos*/
fieldset {
    border: 0;
}

input{
box-sizing: border-box;
border: 1px solid #00a4a6;
border-radius: 4px;
padding: 5px;
}
