/*Seu Código*/
.box-artigo {
    width: 100%;
    float: left;
    background: #fff;
    border-radius: 3px;
}

h2 {
    padding-top: 70px;
    text-align: center;
    color: #202454;
    text-shadow: #00a4a6 0.1em 0.1em 0.2em;
}

.codigoCSS{
    width: 80%;
    height: 300px;
}

.codigoHTML{
    width: 80%;
    height: 80px;
}

.codigoJAVA{
    width: 50%;
    height: 80px;
}

/*Menu*/

.menu ul {

    list-style: none;
    width: 100%;
    float: left;
    padding: 0px;
    gap: 10px;
    background: #00a4a6;
    box-shadow: 1px 0px 1.2px 0px #e3e3e3;
}

.menu ul li a {

    text-decoration: none;
    color: #fff;
    font-family: 'open_sansregular';
}

.menu ul li {

    position: relative;
    display: block;
    width: 100%;
    float: left;
    margin: 4px 15px;
    padding: 0px;
    border-width: 0px 0px 3px 0px;
    border-color: transparent;
    border-style: solid;
}

.menu ul li:hover a {

    color: #fff;
    border-width: 0px 0px 3px 0px;
    border-color: #f4f4f4;
    border-style: solid;

}

/*768PX BREAKPOINT*/
@media (min-width:48em) {

    .menu ul li {
        display: block;
        width: auto;
        margin: 8px 20px;
        padding: 10px;
    }

}

/*Menu*/

/*FOOTER*/
.main_footer {
    background-color: #353535;
    color: #fff;
    font-size: 0.875em;
}

.main_footer .content {
    padding: 3em 0em;
}

.main_footer_copy {
    background-color: #202454;
    width: 100%;
    float: left;
    text-align: center;
    padding: 1.5em 0em;
}

.main_footer_copy p {
    font-family: 'open_sanslight';
    font-size: 1em;
    color: #e1e0e0;
    height: 20px;
}

.main_footer_copy .m-b-footer {
    margin-bottom: 0.5em;
}

.main_footer_copy .by {
    font-size: 0.96em;
}

.main_footer_copy .by i {
    font-size: 0.96em;
    margin-right: 3px;
    color: #e82626;
}

.main_footer_copy .by a {
    text-decoration: underline;
    color: #ffffff;
}

.main_footer_copy .by a:hover {
    color: #007cff;
}


/*Começa o Responsivo*/

/*480PX BREAKPOINT*/
/*480 dividido por 16 = 30em*/
@media (min-width:30em) {

    .boxBannerTopo {
        padding: 1em 0;
    }

}

/*600PX BREAKPOINT*/
/*600 dividido por 16 = 37,5em*/
@media (min-width:37em) {}

/*768PX BREAKPOINT*/
/*768 dividido por 16 = 48em*/
@media (min-width:48em) {}

/*960PX BREAKPOINT*/
/*960 dividido por 16 = 60em*/
@media (min-width:60em) {

    .section-seu-codigo {
        padding: 20px 0px;
    }

    .section-seu-codigo .content {
        width: 80%;
        padding: 1em 0;
        margin: 0 10%;
    }

}

/*1280PX BREAKPOINT*/
/*1280 dividido por 16 = 80em*/
@media (min-width:80em) {}

/*1366PX BREAKPOINT*/
/*1366 dividido por 16 = 85,375em*/
@media (min-width:85em) {

    .content {
        width: 80%;
        margin: 0 10%;
    }

}

/*1600PX BREAKPOINT*/
/*1600 dividido por 16 = 100em*/
@media (min-width:100em) {}

/*Fecha o Responsivo*/
